#content table{
            width: 1200px;
            margin: 10px auto;
        }

        table caption h2{
            margin-bottom: 10px;
        }

        table tr th.subTitle{
            padding: 15px;
            color: #fff;
            background: #45f;
            border-top: 1px solid gray;
            border-right: 1px solid gray;
            border-bottom: 5px solid black;
        }

        table tr th.subTitle:first-child{
            border-left: 1px solid gray;
        }

        table tr td,
        table tr th.subContent{
            background: wheat;
            padding: 30px 20px;
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
        }

        table tr th.subContent:first-child{
            border-left: 1px solid gray;
        }

        table tr:nth-child(2) td{
            text-align: center;
        }